@font-face {
  font-family: 'Nunito Light';
  font-style: normal;
  font-weight: normal;
  src: local("Nunito Light"),
  local("Nunito Light"),
  url("fonts/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Nunito Regular"),
  local("Nunito Regular"),
  url("fonts/Nunito-Light.ttf") format("truetype");
}