* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Regular", Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-family: "Nunito Light", Arial, sans-serif;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("images/person-and-stars-small.jpg");
  background-color: #110F15;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.57);
  z-index: -1;
}

.radial-gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: radial-gradient(50% 65%, rgba(37, 20, 202, 0.00) 46%, rgba(66, 44, 179, 0.04) 46%, #C86DD7 85%);
  opacity: 0.1;
  z-index: -2;
}